<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="table-responsive">
                    <table class="table user-list">
                        <thead>
                            <tr>
                                <th><span>Full Name</span></th>
                                <th><span>Date</span></th>
                                <th class="text-center"><span>Price</span></th>
                                <th><span>Email</span></th>
                                <th><span>Consultation Times</span></th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let doctor of doctors">
                                <td>
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                    <a href="#" class="user-link">{{doctor.firstName}} {{doctor.lastName}}</a>
                                    <span class="user-subhead">{{doctor.proficiency}}</span>
                                </td>
                                <td>
                                    {{doctor.createdAt}}
                                </td>
                                <td class="text-center">
                                    <span class="label label-default">{{doctor.price}}</span>
                                </td>
                                <td>
                                    <a href="#">{{doctor.email}}</a>
                                </td>
                                <td>
                                    <div *ngFor="let time of consultationTimes; let i = index">
                                        <!-- Start a new row for every even index -->
                                        <div class="row mb-3" *ngIf="i % 2 === 0"> <!-- Added the mb-3 class here -->
                                            <!-- Display the time for the current index -->
                                            <div class="col-md-6">
                                                <button class="btn btn-primary" (click)="onTimeClick()">{{consultationTimes[i]}}</button>
                                            </div>
                                            <!-- Display the time for the next index (if it exists) -->
                                            <div class="col-md-6" *ngIf="consultationTimes[i + 1]">
                                                <button class="btn btn-primary" (click)="onTimeClick()">{{consultationTimes[i + 1]}}</button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </td>
                                <td style="width: 20%;">
                                    <a href="#" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                    <a href="#" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                    <a href="#" class="table-link danger">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
